/* common shared styless */
body {
    font-family: 'Lato', sans-serif;
}
.text-primary {
    background-color: #dd6f85;
    border-radius: 5px;
}
/* header related styles */
.header {
    background-color: rgb(187, 170, 170);
    margin: 30px;
}
.banner {
    display: flex;
    align-items: center;
}
.banner .pp {
    width: 635px;
    height: 800px;
    padding: 50px 240px 0px;
}
.banner-greeting {
    display: flex;
    font-size: 60px;
    justify-content: center;
}
.banner-content {
    padding-left: 200px;
}
/* header related styles */
.Featured {
    text-align: center;
    padding-top: 100px;
}
.common {
    font-size: 30px;
}
/* main related styles */
.flower-type {
    display: flex;
    align-items: first baseline;
    padding: 0px 80px;
    margin: 0px 16px;
}
.skill {
    margin-right: 100px;
}
.skill-title {
    text-align: center;
}
.tulip {
    background-color: powderblue;
    width: 350px;
    height: 450px;
    border-radius: 200px 200px 0px 0px;
}
.golap {
    background-color: blueviolet;
    width: 350px;
    height: 450px;
    border-radius: 200px 200px 0px 0px;
}
.joba {
    background-color: brown;
    width: 350px;
    height: 450px;
    border-radius: 200px 200px 0px 0px;
}
.deal {
    display: flex;
    align-items: center;
    padding-right: 50px;
    background-color: antiquewhite;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}
.hot-deal {
    justify-content: center;
    padding-left: 200px;
}
.instagram {
    text-align: center;
    margin-top: 70px;
}
.image {
    display: flex;
    margin: 0px 30px;
}
.it {
    margin-top: 0px;
}
.coupon {
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    padding-left: 550px;
    align-items: center;
    justify-content: center;
    margin: 30px 30px;
}
.shop {
    align-items: center;
    justify-content: center;
    padding: 50px 300px;
    background-color: rgb(211, 204, 191);
    margin: 30px;
}


